class TaskSelector extends React.Component {
    constructor(props)
    {
        super(props);
        this.state = {};
    }

    render()
    {
        return (
            <div className="task_selector" style={{top: this.props.y, left: this.props.x, width: 120, height: 25}}>

            </div>
        );
    }
}
