<div class="container" style="margin-top: 20px;">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-50">
      <h4>Assinatura</h4>
      <h6 class="gray-scale">R$199,00/mês ou R$1910,00/ano</h6>
      <img class="plusing-product" src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/image/AppleInc/aos/published/images/i/ph/iphone/xs/iphone-xs-max-silver-select-2018?wid=940&hei=1112&fmt=png-alpha&qlt=80&.v=1550795409264" width="150">
      <hr>
    </div>
    <div class="col-sm-12 col-md-6">
      <form method="post">
          <button class="btn-block btn-radio active">
              R$199,00/mês sem contrato de fidelidade
          </button>
          <button class="btn-block btn-radio">
              R$1990,00/ano save 20%
          </button>
          <input type="hidden" name="plan_type" value="monthly">
      </form>
    </div>
  </div>
</div>
